<p>
  <b>Name:</b>
  <%= @grocery_list.name %>
</p>

<p>
  <b>Food Items to Acquire</b>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit</th>
    </tr>
    <% @generated_list.keys.sort.each do |food_name| %>
      <tr>
        <td><%= food_name %></td>
        <td><%= @generated_list[food_name][GroceryList::QUANTITY_KEY] %></td>
        <td><%= @generated_list[food_name][GroceryList::UNIT_NAME_KEY] %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Main Page', '/' %>
