<body class="grocery-lists">

<p>
  <b>Name:</b>
  <%= @grocery_list.name %>
</p>

	<ul>
  <% @generated_list.keys.sort.each do |store_section_name| %>
  <li><%= store_section_name %></li>
  <% section_food_list = @generated_list[store_section_name] %>
  <ul>
    <% section_food_list.keys.sort.each do |food_name| %>
      <li style="vertical-align: top">
      	<%= food_name %>:
        <% if section_food_list[food_name][GroceryList::QUANTITY_KEY].include? "+" %>
          <%= GroceryListsHelper.construct_formula_display_for_unsupported_conversion(
            section_food_list[food_name][GroceryList::QUANTITY_KEY],
            section_food_list[food_name][GroceryList::UNIT_NAME_KEY]) %>
        <% else %>
          <%= number_with_precision(section_food_list[food_name][GroceryList::QUANTITY_KEY], :precision => 2) %> <%= section_food_list[food_name][GroceryList::UNIT_NAME_KEY] %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>
</ul>
</body>
