

<h1>Saved Grocery Lists</h1>

<div style="width: 600px">
<fieldset>
	<legend>
		<b>GROCERY LISTS</b>
	</legend>
<table>
  <tr>
    <th align="left">Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @grocery_lists.each do |grocery_list| %>
    <tr>
      <td style="padding-right: 15px"><%= grocery_list.name %></td>
      <td><%= link_to 'Generate', generate_grocery_list_path(grocery_list) %></td>
      <td><%= link_to 'Show', grocery_list %></td>
      <td><%= link_to 'Edit', edit_grocery_list_path(grocery_list) %></td>
      <td><%= link_to 'Destroy', grocery_list, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>
</fieldset>
</div>

<br>
<p>

<%= link_to 'Create New Grocery List', new_grocery_list_path %> |

<%= link_to 'Main Page', '/' %>
</p>

