<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grocery_list.name %>
</p>

<p>
  <b>RECIPES</b>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Servings</th>
    </tr>
    <% for glr in @grocery_list.grocery_list_recipes.sort! { |glr1,glr2| glr1.recipe.name <=> glr2.recipe.name } %>
      <tr>
        <td><%= glr.recipe.name %></td>
        <td><%= glr.quantity %></td>
      </tr>
    <% end %>
  </table>
</p>

<p>
  <b>A LA CARTE</b>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit</th>
    </tr>
    <% for glf in @grocery_list.grocery_list_foods.sort! { |glf1,glf2| glf1.food.name <=> glf2.food.name } %>
      <tr>
        <td><%= glf.food.name %></td>
        <td><%= number_with_precision(glf.quantity, :precision => 2) %></td>
        <td><%= glf.unit_name %></td>
      </tr>
    <% end %>
  </table>
</p>


<%= link_to 'Edit', edit_grocery_list_path(@grocery_list) %> |
<%= link_to 'Back', grocery_lists_path %> |
<%= link_to 'Main Page', '/' %>
<br>
<%= link_to 'Generate', generate_grocery_list_path(@grocery_list) %>
