<%= nested_form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <h2>Ingredients</h2>
  <p></p>
  <table>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th/>
    </tr>
    <%= f.fields_for :ingredients do |ingredient_form| %>
    <tr class="fields">
      <% current_ingredient_food_name = ingredient_form.object.food.name if (ingredient_form.object and ingredient_form.object.food) %>
      <%= ingredient_form.hidden_field :food_id %>
      <td><%= autocomplete_field_tag 'food', current_ingredient_food_name, autocomplete_food_name_foods_path, :id_element => "#recipe_ingredients_attributes_new_ingredients_food_id" %></td>
      <td><%= ingredient_form.text_field :quantity %></td>
      <td><%= ingredient_form.collection_select :unit_id, Unit.all, :id, :short_name, :include_blank => true %></td>
      <td><%= ingredient_form.link_to_remove "Remove ingredient" %></td>
    </tr>
  <% end %>
    <tr><td colspan="4"><%= f.link_to_add "Add Ingredient", :ingredients %></td></tr>
  </table>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
