<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <h2>Selected Ingredients</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit</th>
    </tr>
    <% for ingredient in @recipe.ingredients.sort! { |i1,i2| i1.food.name <=> i2.food.name } %>
      <tr>
        <td><%= ingredient.food.name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.unit.short_name if ingredient.unit %></td>
      </tr>
    <% end %>
  </table>

  <h2>Ingredients</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Include</th>
      <th>Quantity</th>
      <th>Unit</th>
    </tr>
    <%= f.fields_for :ingredients, @recipe.build_available_ingredient_list do |builder| %>
      <% ingredient = builder.object %>
      <% food = ingredient.food %>
      <%= builder.hidden_field :food_id %>
      <%= builder.hidden_field :unit_id %>
      <tr>
        <td>
          <%= builder.label food.name %>
        </td>
        <td align="center">
          <%= builder.check_box :selected %>
        </td>
        <td>
          <%= builder.text_field :quantity %>
        </td>
        <td>
            <%= builder.collection_select :unit_id, Unit.all, :id, :short_name, :include_blank => true %>
        </td>
      </tr>
    <% end %>
  </table>

  <h2>Search Ingredients</h2>
    // TODO - what is needed here is the ajax call to occur on change of the text_field_tag, load the food data somewhere
    // usable on select, then a button to add an ingredient to this recipe with the selected food and additional fields
  <% form_tag foods_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:substring] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
