<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <h2>Selected Ingredients</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit</th>
    </tr>
    <% for ingredient in @recipe.ingredients.sort! { |i1,i2| i1.food.name <=> i2.food.name } %>
      <tr>
        <td><%= ingredient.food.name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.unit.short_name if ingredient.unit %></td>
      </tr>
    <% end %>
  </table>

  <h2>Add Ingredients</h2>
  <%= render 'ingredient_form' %>


  <%#= f.fields_for :ingredients, @recipe.build_available_ingredient_list do |builder| %>
      <%# ingredient = builder.object %>
      <%# food = ingredient.food %>
      <%#= builder.hidden_field :food_id %>
      <%#= builder.hidden_field :unit_id %>
          <%#= builder.label food.name %>
          <%#= builder.check_box :selected %>
          <%#= builder.text_field :quantity %>
            <%#= builder.collection_select :unit_id, Unit.all, :id, :short_name, :include_blank => true %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
