<h1>Listing recipes</h1>


<div style="width: 600px">
<fieldset>
	<legend>
		<b>RECIPES</b>
	</legend>
<table>
  <tr>
    <th align="left"><b>Name</b></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</fieldset>
</div>

<br>
<p>

<%= link_to 'Enter New Recipe', new_recipe_path %>

<br />

<%= link_to 'Main Page', '/' %>
</p>
