<body class="groceries">
	<br />

<p id="notice"><%= notice %></p>
<fieldset class="recipe">

  <legend><b>  <%= @recipe.name %> </b></legend>


<p style="margin-left: 100px">
  <b><u>Ingredients</u></b>
  <table cellpadding="1.5" style="margin-left: 100px">

    <% for ingredient in @recipe.ingredients.sort! { |i1,i2| i1.food.name <=> i2.food.name } %>
      <tr>        
        <td><%= number_with_precision(ingredient.quantity, :precision => 2) %></td>
        <td><%= ingredient.unit_name %></td>
        <td><%= ingredient.food.name %></td>
      </tr>
    <% end %>
  </table>
</p>

<p style="margin-left: 100px">
  <b>Servings:</b>
  <%= @recipe.servings %>
</p>
<br>
<p style="margin-left: 100px">
  <b>Directions:</b><br/>
  <%= simple_format @recipe.directions, :style => "margin-left: 120px" %>
</p>
</fieldset>
<br>

<%= link_to 'Edit', edit_recipe_path(@recipe) %>
</body>