<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="nested_form">
    <fieldset>
      <legend><b>NEW FOOD</b></legend>
      <div>
        <b><%= f.label :name %></b><br />
        <%= f.text_field :name %>
      </div>
      <br />
      <div>
        <b><%= f.label :description %></b><br />
        <%= f.text_field :description, :size => 75 %>
      </div>
      <div>
        <b><%= f.label :store_section %></b><br />
        <%= f.collection_select :store_section_id, StoreSection.all, :id, :name, :include_blank => true %>
      </div>
    </fieldset>
    <div class="actions">
    	<br>
      <%= f.submit %>
    </div>
  </div>
<% end %>