<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food.name %>
</p>

<p>
  <b>Description:</b>
  <%= @food.description %>
</p>

<p>
  <b>Store Section:</b>
  <%= @food.store_section.name if @food.store_section %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
<% unless notice.nil? or notice.blank? %>
  <br/><%= link_to 'Enter Another Food', new_food_path %>
<% end %>