<h1>Listing Store Sections</h1>

<fieldset style="width: 300px">
<legend><b>STORE SECTION</b></legend>
<table>

<% @store_sections.each do |store_section| %>
  <tr>
    <td><%= store_section.name %></td>
    <td><%= link_to 'Edit', edit_store_section_path(store_section) %></td>
    <td><%= link_to 'Destroy', store_section, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</fieldset>
<br />

<%= link_to 'New Store Section', new_store_section_path %>

<br />

<%= link_to 'Main Page', '/' %>
