<p id="notice"><%= notice %></p>

<fieldset style="width: 300px">
  <legend><b>Name</b></legend>
  <%= @store_section.name %>
</fieldset>

<br />
<%= link_to 'Edit', edit_store_section_path(@store_section) %> |
<%= link_to 'Back', store_sections_path %> |
<%= link_to 'Main Page', '/' %>
